@charset "utf-8";


html {
   
    background-color: #CCC5B9;
}


body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "header"
                        "section"
                        "main"
                        "footer";
    grid-gap: 100px;
    
    
    }


.mainlogo {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-bottom: 0;
}



#main {
    display: block;
    width:100%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    
}


div  {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    padding-top: 2%;
    margin-left: 5%;
    letter-spacing: 2px;
    font-style: italic;

    

}

.mainsec  {
    display:block;
    margin: auto;
    background-color: white;
    border-radius:10px;
    margin-bottom: 5%;
    line-height:20px;
    width:50%;
    border: 3px solid black;

}



section p {
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: justify;
}


/*GALLERY*/


div.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    
    width:150px;
    height:150px;
    border-radius: 100%;
    display: block;
    margin: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size:x-small;
    letter-spacing: 0;
    font-style: normal;
  }

  .gallerysection

  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    background-color: transparent;
  }

/*NAV*/



nav.nav {
    background-color: black;
}
ul.navlist {
    text-align: center;
    margin:0px;
    text-transform: uppercase;
}

.navlist li {  
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighterS;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 2% 2% 2% 2%;
}

.navlist a, a:visited {
    color: white;
    text-decoration: none;
}

.navlist a:hover {
    color:#CCC5B9;
}






/*FOOTER*/


footer {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


h3 {
    margin-left: .5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color:#CCC5B9;
    text-transform: uppercase;
    font-weight: lighter;

}

#telephone, #telephone a {
    color:white;
    margin-left: .5%;
    text-decoration: none;
    font-size: medium;
    font-style: normal;
}

#telephone a:hover
 {
    color: #CCC5B9;
    
}


#address {
    margin-left: 1%;
    margin-top: -1%;

}




#socialone {
padding-left:88%;
margin-top:-5%;
margin-bottom: 1.5%;
}

#socialtwo {
display:block;    
padding-left: 92%;
margin-top: -5%;
padding-bottom: 5%;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13%;
    padding-top: 25px;
}