@charset "utf-8";


html {
   
    background-color: #CCC5B9;
}


body {
    background-color: #CCC5B9;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "header"
                        "section"
                        "main"
                        "footer";
    grid-gap: 100px;
    
    
    }


.mainlogo {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-bottom: 0;
}



/*NAV*/



nav.nav {
    background-color: black;
}
ul.navlist {
    text-align: center;
    margin:0px;
    text-transform: uppercase;
    width: 100%;
}

.navlist li {  
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 2% 2% 2% 2%;
}

.navlist a, a:visited {
    color: white;
    text-decoration: none;
}

.navlist a:hover {
    color:#CCC5B9;
}

#main h2 {
   
    display: block;
    text-align: center;
    margin-bottom: 6%;
    padding: 0;
}


/*ACCORDION*/

#main {
    display: block;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mainsec {
    margin-bottom: 8%;
}

.mainsec h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0% 2%;
    letter-spacing: 2px;
    font-style: italic;
}


.accordion {
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    width: 45%; 
    border: 3px solid black;
}


.accordion-item {
    border-bottom: 1px solid white;
}


.accordion-button {
    color: white;
    background-color: black; 
    border: none;
    border-radius: 0;
    text-align: left;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #e0e0e0;
}


.accordion-body {
    padding: 15px;
    text-align: justify;
}

#attorneyAccordion.accordion {
    display: block;
    margin: auto;
}

div.accordion-item {
    margin-top: 2%;
}







/*FOOTER*/


footer {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


h3 {
    margin-left: .5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color:#CCC5B9;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 1%;

}

#telephone, #telephone a {
    color:white;
    margin-left: .5%;
    text-decoration: none;
    font-size: medium;
    font-style: normal;
}

#telephone a:hover
 {
    color: #CCC5B9;
    
}


#address {
    margin-left: 1%;
    margin-top: -1%;

}




#socialone {
padding-left:88%;
margin-top:-5%;
margin-bottom: 1.5%;
}

#socialtwo {
display:block;    
padding-left: 92%;
margin-top: -5.5%;
padding-bottom: 5%;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13%;
    padding-top: 25px;
}


.card-group {
    width: 70%;
    margin: auto;
}






