@charset "utf-8";


html {
   
    background-image: url("info.jpg");
    background-attachment: fixed;
}


body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "header"
                        "section"
                        "main"
                        "footer";
    grid-gap: 100px;
    
    
    }


.mainlogo {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-bottom: 0;
}



#main {
    display: block;
    width:100%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    
}


#consult  {
    display: block;
    margin: auto;
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
    border-radius: 5px;
    padding:.5% 1% .5% 1%;
    margin-bottom: 5%;
    border: 5px solid #CCC5B9;
    

}


/*NAV*/



nav.nav {
    background-color: black;
}
ul.navlist {
    text-align: center;
    margin:0px;
    text-transform: uppercase;
   
}

.navlist li {  
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighterS;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 2% 2% 2% 2%;
}

.navlist a, a:visited {
    color: white;
    text-decoration: none;
}

.navlist a:hover {
    color:#CCC5B9;
}






/*FOOTER*/


footer {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


h3 {
    margin-left: .5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color:#CCC5B9;
    text-transform: uppercase;
    font-weight: lighter;

}

#telephone, #telephone a {
    color:white;
    margin-left: .5%;
    text-decoration: none;
    font-size: medium;
    font-style: normal;
}

#telephone a:hover
 {
    color: #CCC5B9;
    
}


#address {
    margin-left: 1%;
    margin-top: -1%;

}




#socialone {
padding-left:88%;
margin-top:-5%;
margin-bottom: 1.5%;
}

#socialtwo {
display:block;    
padding-left: 92%;
margin-top: -5%;
padding-bottom: 5%;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -13%;
    padding-top: 25px;
}



/*FORM*/ 

form {
    display:block;
    margin: auto;
    width:35%;
    background-color: white;
    border-radius:10px;
    padding:1%;
    text-align: center;
    border: 5px solid #CCC5B9;
}

label, input {
    display: block;
    margin: auto;
    padding-bottom: 5px;
}

#comments {
    margin-bottom: 15px;
}